In [2]:
import pandas as pda
!pip install yfinance
import yfinance as yf

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\herbd\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: yfinance in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.2.50)
Requirement already satisfied: pandas>=1.3.0 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2024.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: six>=1.9 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.31->yfinance) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.31->yfinance) (2024.8.30)

In [5]:
#this defines the asset you want to look at then fetches the data and displays it in a dataframe 
ticker_symbol = '^VIX'

vix_data = yf.download(ticker_symbol, start='2015-01-01', end='2024-12-04')

vix_data.columns = vix_data.columns.get_level_values(0)
vix_data.reset_index(inplace=True)

vix_data.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

vix_data = vix_data[['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']]
vix_data.head(40)

[*********************100%***********************]  1 of 1 completed

         Date  Adj Close      Close       High        Low       Open  Volume
0  2015-01-02  17.790001  17.790001  20.139999  17.049999  17.760000       0
1  2015-01-05  19.920000  19.920000  21.290001  19.190001  19.190001       0
2  2015-01-06  21.120001  21.120001  22.900000  19.520000  20.330000       0
3  2015-01-07  19.309999  19.309999  20.719999  19.040001  20.150000       0
4  2015-01-08  17.010000  17.010000  18.090000  16.990000  17.930000       0
5  2015-01-09  17.549999  17.549999  18.420000  16.440001  16.440001       0
6  2015-01-12  19.600000  19.600000  20.440001  18.020000  18.020000       0
7  2015-01-13  20.559999  20.559999  21.580000  17.650000  18.209999       0
8  2015-01-14  21.480000  21.480000  23.340000  21.320000  22.870001       0
9  2015-01-15  22.389999  22.389999  23.309999  20.860001  21.230000       0
10 2015-01-16  20.950001  20.950001  23.430000  20.950001  22.799999       0
11 2015-01-20  19.889999  19.889999  21.370001  19.580000  20.070000       0
12 2015-01-21  18.850000  18.850000  21.280001  18.639999  20.920000       0
13 2015-01-22  16.400000  16.400000  19.230000  16.070000  17.980000       0
14 2015-01-23  16.660000  16.660000  17.090000  15.810000  16.790001       0
15 2015-01-26  15.520000  15.520000  17.430000  15.520000  16.959999       0
16 2015-01-27  17.219999  17.219999  18.410000  16.670000  17.600000       0
17 2015-01-28  20.440001  20.440001  20.440001  16.920000  16.969999       0
18 2015-01-29  18.760000  18.760000  21.559999  18.660000  20.459999       0
19 2015-01-30  20.969999  20.969999  22.180000  19.240000  20.230000       0
20 2015-02-02  19.430000  19.430000  22.809999  19.350000  20.889999       0
21 2015-02-03  17.330000  17.330000  18.889999  17.200001  18.410000       0
22 2015-02-04  18.330000  18.330000  18.379999  16.820000  17.820000       0
23 2015-02-05  16.850000  16.850000  17.430000  16.670000  17.290001       0
24 2015-02-06  17.290001  17.290001  18.740000  16.059999  16.290001       0
25 2015-02-09  18.549999  18.549999  19.280001  18.209999  19.160000       0
26 2015-02-10  17.230000  17.230000  18.360001  16.969999  17.719999       0
27 2015-02-11  16.959999  16.959999  17.809999  16.820000  17.430000       0
28 2015-02-12  15.340000  15.340000  16.469999  15.280000  16.389999       0
29 2015-02-13  14.690000  14.690000  15.640000  14.690000  15.110000       0
30 2015-02-17  15.800000  15.800000  16.330000  15.530000  15.850000       0
31 2015-02-18  15.450000  15.450000  16.740000  15.440000  16.740000       0
32 2015-02-19  15.290000  15.290000  16.219999  15.100000  16.110001       0
33 2015-02-20  14.300000  14.300000  16.290001  14.270000  15.730000       0
34 2015-02-23  14.560000  14.560000  15.480000  14.490000  15.050000       0
35 2015-02-24  13.690000  13.690000  14.630000  13.530000  14.500000       0
36 2015-02-25  13.840000  13.840000  14.060000  12.860000  13.640000       0
37 2015-02-26  13.910000  13.910000  14.570000  13.550000  13.550000       0
38 2015-02-27  13.340000  13.340000  14.170000  13.290000  14.070000       0
39 2015-03-02  13.040000  13.040000  13.900000  12.870000  13.900000       0